<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ZohoCRM Test Suite" parallel="none"> <!-- Change "methods" to "none" -->
    <test name="ZohoCRM Tests">
        <classes>
            <class name="com.zoho.tests.LoginTest"/>
            <class name="com.zoho.tests.CreateLeadTest"/>
        </classes>
    </test>
</suite>