<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ZohoCRM Test Suite" parallel="false"> <!-- Set parallel to false -->

    <test name="ZohoCRM Tests">
        <parameter name="browser" value="chrome"/> <!-- Specify the browser here -->
        <classes>
            <class name="com.zoho.tests.CreateLeadTest"/>
            <class name="com.zoho.tests.EditLeadTest"/>
            <class name="com.zoho.tests.FilterTest"/>
            <class name="com.zoho.tests.DeleteLeadTest"/>
        </classes>
    </test>

</suite>